name: Deploy to Github Pages
on:
  push:
    branches:
      - master
  workflow_call:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install deps
        run: uv sync --no-dev

      - name: Build
        run: uv run mkdocs build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: site # The folder the action should deploy.

      - name: Notify Relationship Manager
        env:
          BOT_TOKEN: ${{secrets.BOT_TOKEN}}
          CHAT_ID: ${{secrets.CHAT_ID}}
        run: |
          curl -X POST --data-urlencode "chat_id=$CHAT_ID" -d "parse_mode=Markdown" --data-urlencode "text=*chanel.nicholaslyz.com*
          New commit by *${{github.event.head_commit.author.name}}*" "https://api.telegram.org/bot$BOT_TOKEN/sendMessage"
          curl -X POST --data-urlencode "chat_id=$CHAT_ID" --data-urlencode "text=${{github.event.head_commit.message}}" "https://api.telegram.org/bot$BOT_TOKEN/sendMessage"
